:root {
    --brand-color: #4D5AE5;
    --dark-color: #2E2F42;
    --ocean-color: #404bbf;
    --iris-color: #4D5AE5;
    --cloud-color: #F4F4FD;
    --font-weight-body: 400;
    --font-size-body: 16px;
    --font-family-body: "Roboto", sans-serif;

    --font-weight-smallText: 400;
    --font-size-smallText: 16px;

    --font-size-bodyMedium: 500;

    --hover-focus: #404bbf;
    --active: #404BBF;

    --mainWhite: #FFFFFF;

}
header {
    background-color: #FFFFFF;
}

body {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    color: #434455;
    background-color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 2;
} 

footer {
    color: #F4F4FD;
    background-color: #2E2F42;
}

.list {
    list-style-type: none;
    list-style: none'
}
-a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}
h3 {
    color: inherit;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2;
}


.webstudio-logo {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}
.webstudio-logo.link {
    text-decoration: none;
}
.studio-logo.link {
    text-decoration: none;
}
.studio-logo {
    color: var(--dark-color);
    line-height: 1.17;
}


.list .list-studio {
    font-weight: var(--font-size-bodyMedium);
    text-decoration: none;
    color: var();
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.list .list-studio .link {
    text-decoration: none;
}

.list a:hover, 
.list a:focus {
color: var(--hover-focus);
}
.list a:active{
color: var(--active);
}

.header-addres .list {
    list-style: none;
}

.header-addres .list .link {
    font-style: normal;
    font-weight: var(--font-weight-body);
    list-style: none;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}
.header-addres .list .link:hover,
.header-addres .list .link:focus {
    color: var(--hover-focus);
}
.header-addres .list .link:active {
    color: var(--active);
}

.button-list .button-first {
    color: var(--mainWhite);
    background-color: var(---ocean-color);
}
.button-list .button {
    color: var(--iris-color);
}


.footer-logo {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--cloud-color);
}